//
// Icons (the corrispong ascii)
//

$settings: "\E8B8";
$locked: "\E88D";
$flag: "\E3A0";
$work: "\E8F9";
$build: "\E869";
$malware: "\E868";
$map: "\E8B4";
$coffee: "\EB44";
$apk: "\E859";
$usb: "\E1E0";
$cloud: "\E2BD";
$attachment: "\E2BC";
$world: "\E80B";

$zip: "\E3E7";

$music: "\E3A1";
$mic: "\E029";
$radio: "\E03E";
$audio: "\E050";
$lp: "\E019";

$photo: "\E3B0";
$picture: "\E3B7";
$pict: "\E251";

$play: "\E037";
$movie: "\E02C";
$cam: "\E04B";

$text: "\E262";
$stylez: "\E91D";
$app: "\E051";
$code: "\E86F";

$calendar: "\E8DF";
$epub: "\E54B";