// CONFIGURATION
$icon-container-size: 110px; // the size of the icons
$icon-edge-color: ""; // the default edge color of the icon
$font-size: 38; // the font size of the text incapsulated inside the svg icon relative to the 200px height of the original svg 
$font-family: "Myriad, Tahoma-Bold, sans-serif"; // the font size of the text incapsulated inside the svg icon relative to the 200px height of the original svg


// ATTENTION write hex in extended notation
$shape-color: #F1F2F2; // the color of the shape inside the icon (if any)
$shape-color-positive: #666666;  // the color of the shape when the icon have a positive background (es. white)
$dark-color: #3a3b3c; // background color of the icons in the dark theme (or the ribbon color in the "double" $style theme  )
$icon-shadow: ""; // or "drop-shadow( 0 2px 2px rgba(0, 0, 0, 0.25) );" without quotes
$font-color: $shape-color; // default 

// CHOOSE YOUR THEME
//
//
$style: ""; // icon theme -> possible values: default || dark || light || double

// Import hex color conversion function
@import "scss/functions";

// Import icons
@import "scss/fonts";

// Colors (used when another color isn't specified)
@import "scss/generator-colors";

// Icons (the corrispong ascii)
@import "scss/generator-vars";

// DO-ICON MIXIN
@import "scss/mixin";

// HARDCODED styles
// This part serves for the demo and can be safely canceled
// However, if you need a particular icon you can write the code like in the examples below
//
@import "scss/hardcoded";

//
// LOOP CONFIG
// The loop will generate icons as in the configuration below
//
$icon-list:
('3dm', '', $world),
('3dmf', '', $world),
('7z', '', $zip),
('a', '', $zip),
('aab', '', $app),
('aac', '', $mic),
('aam', '', $app),
('aas', '', $app),
('abc', '', $text),
('acgi', '', $text),
('afl', '', $play),
('ai', '', $app),
('aif', '', $music),
('aifc', '', $radio),
('aiff', '', $lp),
('aim', '', $app),
('aip', '', $text),
('ani', '', $app),
('aos', '', $app),
('aps', '', $app),
('arc', '', $app),
('arj', '', $app),
('art', '', $photo),
('asf', '', $movie),
('asm', '', $text),
('asp', '', $code),
('asx', '', $app),
('au', '', $mic),
('avi', '', $app),
('avs', '', $movie),
('bcpio', '', $app),
('bin', '', $app),
('bm', '', $picture),
('bmp', '', $pict),
('boo', '', $app),
('book', '', $app),
('boz', '', $app),
('bsh', '', $app),
('bz', '', $zip),
('bz2', '', $app),
('c', '', $code),
('cat', '', $app),
('cc', '', $code),
('ccad', '', $app),
('cco', '', $app),
('cdf', '', $app),
('cer', '', $app),
('cha', '', $app),
('chat', '', $app),
('class', '', $app),
('com', '', $app),
('conf', '', $text),
('cpio', '', $app),
('cpp', '', $text),
('cpt', '', $app),
('crl', '', $app),
('crt', '', $app),
('csh', '', $app),
('css', '', $app),
('csv', '', $text),
('cxx', '', $text),
('dcr', '', $app),
('deepv', '', $app),
('def', '', $text),
('der', '', $app),
('dif', '', $cam),
('dir', '', $app),
('dl', '', $play),
('doc', '', $app),
('docx', '', $text),
('dot', '', $app),
('dp', '', $app),
('drw', '', $app),
('dump', '', $app),
('dv', '', $cam),
('dvi', '', $app),
('dwf', '', $picture),
('dwg', '', $app),
('dxf', '', $app),
('dxr', '', $app),
('el', '', $text),
('elc', '', $app),
('env', '', $app),
('eps', '', $app),
('es', '', $app),
('etx', '', $text),
('evy', '', $app),
('exe', '', $app),
('f', '', $text),
('f77', '', $text),
('f90', '', $text),
('fdf', '', $app),
('fif', '', $app),
('flac', '', $lp),
('fli', '', $play),
('flo', '', $photo),
('flv', '', $malware),
('flx', '', $text),
('fmf', '', $cam),
('for', '', $text),
('fpx', '', $picture),
('frl', '', $app),
('funk', '', $audio),
('g', '', $text),
('g3', '', $pict),
('gif', '', $photo),
('gl', '', $play),
('gsd', '', $lp),
('gsm', '', $music),
('gsp', '', $app),
('gss', '', $app),
('gtar', '', $app),
('gz', '', $app),
('gzip', '', $app),
('h', '', $text),
('hdf', '', $app),
('help', '', $app),
('hgl', '', $app),
('hh', '', $text),
('hlb', '', $text),
('hlp', '', $app),
('hpg', '', $app),
('hpgl', '', $app),
('hqx', '', $app),
('hta', '', $app),
('htc', '', $text),
('htm', '', $code),
('html', '', $code),
('htmls', '', $code),
('htt', '', $code),
('htx', '', $code),
('ice', '', $text),
('ico', '', $picture),
('idc', '', $text),
('ief', '', $pict),
('iefs', '', $photo),
('iges', '', $app),
('igs', '', $app),
('ima', '', $app),
('imap', '', $app),
('inf', '', $app),
('ins', '', $app),
('ip', '', $app),
('isu', '', $cam),
('it', '', $mic),
('iv', '', $app),
('ivr', '', $flag),
('ivy', '', $app),
('jam', '', $radio),
('jav', '', $code),
('java', '', $code),
('jcm', '', $app),
('jfif', '', $picture),
('jfif-tbnl', '', $pict),
('jpe', '', $photo),
('jpeg', '', $picture),
('jpg', '', $pict),
('jps', '', $photo),
('js', '', $malware),
('jut', '', $picture),
('kar', '', $audio),
('ksh', '', $app),
('la', '', $lp),
('lam', '', $mic),
('latex', '', $app),
('lha', '', $app),
('lhx', '', $app),
('list', '', $text),
('lma', '', $radio),
('log', '', $text),
('lsp', '', $app),
('lst', '', $text),
('lsx', '', $text),
('ltx', '', $app),
('lzh', '', $app),
('lzx', '', $app),
('m', '', $text),
('m1v', '', $play),
('m2a', '', $lp),
('m2v', '', $movie),
('m3u', '', $music),
('man', '', $app),
('map', '', $app),
('mar', '', $text),
('mbd', '', $app),
('mcd', '', $app),
('mcf', '', $pict),
('mcp', '', $app),
('me', '', $app),
('mht', '', $work),
('mhtml', '', $work),
('mid', '', $app),
('midi', '', $app),
('mif', '', $app),
('mime', '', $work),
('mjf', '', $radio),
('mjpg', '', $cam),
('mkv', '', $play),
('mm', '', $app),
('mme', '', $app),
('mod', '', $audio),
('moov', '', $play),
('mov', '', $movie),
('movie', '', $cam),
('mp2', '', $music),
('mp3', '', $lp),
('mp4', '', $movie),
('mpa', '', $lp),
('mpc', '', $app),
('mpe', '', $play),
('mpeg', '', $movie),
('mpg', '', $music),
('mpga', '', $mic),
('mpp', '', $app),
('mpt', '', $app),
('mpv', '', $app),
('mpx', '', $app),
('mrc', '', $app),
('ms', '', $app),
('mv', '', $play),
('my', '', $radio),
('mzz', '', $app),
('nap', '', $photo),
('naplps', '', $picture),
('nc', '', $app),
('ncm', '', $app),
('nif', '', $pict),
('niff', '', $photo),
('nix', '', $app),
('nsc', '', $app),
('nvd', '', $app),
('o', '', $app),
('oda', '', $app),
('ogg', '', $audio),
('omc', '', $app),
('omcd', '', $app),
('omcr', '', $app),
('p', '', $text),
('p10', '', $app),
('p12', '', $app),
('p7a', '', $app),
('p7c', '', $app),
('p7m', '', $app),
('p7r', '', $app),
('p7s', '', $app),
('part', '', $app),
('pas', '', $text),
('pbm', '', $picture),
('pcl', '', $app),
('pcm', '', $radio),
('pct', '', $pict),
('pcx', '', $photo),
('pdb', '', $coffee),
('pdf', '', $app),
('pfunk', '', $audio),
('pgm', '', $picture),
('php', '', $code),
('pic', '', $pict),
('pict', '', $photo),
('pkg', '', $app),
('pko', '', $app),
('pl', '', $code),
('plx', '', $app),
('pm', '', $picture),
('pm4', '', $app),
('pm5', '', $app),
('png', '', $pict),
('pnm', '', $app),
('pot', '', $app),
('pov', '', $settings),
('ppa', '', $app),
('ppm', '', $photo),
('pps', '', $app),
('ppt', '', $app),
('ppz', '', $app),
('pre', '', $app),
('prt', '', $app),
('ps', '', $app),
('psd', '', $app),
('pvu', '', $lp),
('pwz', '', $app),
('py', '', $code),
('pyc', '', $app),
('qcp', '', $music),
('qd3', '', $world),
('qd3d', '', $world),
('qif', '', $picture),
('qt', '', $movie),
('qtc', '', $cam),
('qti', '', $pict),
('qtif', '', $photo),
('ram', '', $lp),
('rar', '', $zip),
('ras', '', $app),
('rast', '', $picture),
('rexx', '', $text),
('rf', '', $pict),
('rgb', '', $photo),
('rm', '', $app),
('rmi', '', $mic),
('rmm', '', $radio),
('rmp', '', $audio),
('rng', '', $app),
('rnx', '', $app),
('roff', '', $app),
('rp', '', $picture),
('rpm', '', $music),
('rt', '', $text),
('rtf', '', $app),
('rtx', '', $app),
('rv', '', $play),
('s', '', $text),
('s3m', '', $mic),
('saveme', '', $app),
('sbk', '', $app),
('scm', '', $app),
('sdml', '', $text),
('sdp', '', $app),
('sdr', '', $app),
('sea', '', $app),
('set', '', $app),
('sgm', '', $text),
('sgml', '', $text),
('sh', '', $app),
('shar', '', $app),
('shtml', '', $code),
('sid', '', $radio),
('sit', '', $app),
('skd', '', $app),
('skm', '', $app),
('skp', '', $app),
('skt', '', $app),
('sl', '', $app),
('smi', '', $app),
('smil', '', $app),
('snd', '', $audio),
('sol', '', $app),
('spc', '', $app),
('spl', '', $app),
('spr', '', $app),
('sprite', '', $app),
('src', '', $app),
('ssi', '', $text),
('ssm', '', $app),
('sst', '', $app),
('step', '', $app),
('stl', '', $app),
('stp', '', $app),
('sv4cpio', '', $app),
('sv4crc', '', $app),
('svf', '', $pict),
('svr', '', $app),
('swf', '', $app),
('t', '', $app),
('talk', '', $text),
('tar', '', $app),
('tbk', '', $app),
('tcl', '', $app),
('tcsh', '', $text),
('tex', '', $app),
('texi', '', $app),
('texinfo', '', $app),
('tgz', '', $app),
('tif', '', $photo),
('tiff', '', $picture),
('tr', '', $app),
('tsi', '', $music),
('tsp', '', $app),
('tsv', '', $text),
('turbot', '', $pict),
('txt', '', $text),
('uil', '', $text),
('uni', '', $text),
('unis', '', $text),
('unv', '', $app),
('uri', '', $text),
('uris', '', $text),
('ustar', '', $app),
('uu', '', $app),
('uue', '', $text),
('vcd', '', $app),
('vcs', '', $text),
('vda', '', $app),
('vdo', '', $cam),
('vew', '', $app),
('viv', '', $play),
('vivo', '', $cam),
('vmd', '', $app),
('vmf', '', $app),
('voc', '', $radio),
('vos', '', $movie),
('vox', '', $lp),
('vqe', '', $music),
('vqf', '', $mic),
('vql', '', $radio),
('vrml', '', $app),
('vrt', '', $world),
('vsd', '', $app),
('vst', '', $app),
('vsw', '', $app),
('wav', '', $audio),
('wb1', '', $app),
('wbmp', '', $photo),
('web', '', $app),
('wiz', '', $app),
('wk1', '', $app),
('wma', '', $music),
('wmf', '', $app),
('wml', '', $app),
('wmlc', '', $app),
('wmls', '', $app),
('wmlsc', '', $app),
('wmv', '', $play),
('word', '', $app),
('wp', '', $app),
('wp5', '', $app),
('wp6', '', $app),
('wpd', '', $app),
('wq1', '', $app),
('wri', '', $app),
('wrl', '', $app),
('wrz', '', $app),
('wsc', '', $app),
('wsrc', '', $app),
('wtk', '', $app),
('x-png', '', $picture),
('xbm', '', $pict),
('xdr', '', $cam),
('xgz', '', $app),
('xif', '', $photo),
('xl', '', $app),
('xla', '', $app),
('xlb', '', $app),
('xlc', '', $app),
('xld', '', $app),
('xlk', '', $app),
('xll', '', $app),
('xlm', '', $app),
('xls', '', $app),
('xlt', '', $app),
('xlv', '', $app),
('xlw', '', $app),
('xm', '', $lp),
('xml', '', $app),
('xmz', '', $text),
('xpix', '', $app),
('xpm', '', $picture),
('xsr', '', $play),
('xwd', '', $pict),
('xyz', '', $app),
('z', '', $zip),
('zip', '', $zip),
('zoo', '', $app),
('zsh', '', $text);


////// basic style
//////

.mime-icon {
  margin: 0;
  display: inline-block;
  vertical-align:top;
  position: relative;

  .ico {
    position:relative;
    text-align: center;

    &:before{
      position: absolute;
      top: $icon-container-size / 2.7;
      display:block;
      width:100%;
      overflow: visible;
      z-index:9;
      content:'';
      font-family: 'Material Icons';
      font-size: $icon-container-size / 4.2;
      opacity: 0.8;    
    }
    

    &:after{
      width: $icon-container-size;
      height: $icon-container-size;
      display:inline-block;
      content:'';

      background-size: 80%;
      background-position: center;
      background-repeat: no-repeat;
      @include do-icon();
    }
  }
  
  &.light {
    .ico:before{ color: $shape-color-positive !important;}
    .ico:after { filter: drop-shadow( 0 2px 2px rgba(0, 0, 0, 0.25) );}  
  }
  
  &.dark {
    .ico:before{ color: #F1F2F2 !important;}
    .ico:after { filter: inherit;}
  }
  
  &.double {
    .ico:after { filter: drop-shadow( 0 1px 1px rgba(0, 0, 0, 0.25) );} 
  }
  
  i.material-icons {
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
    font-size: 28px;
    color: $shape-color;
    opacity: 0.8;
  }
}

////// "Each" n°1 icon with Google font icon
//////

@import "scss/loop";
