// CONFIGURATION
$icon-container-size: 110px; // the size of the icons
$icon-edge-color: ""; // the default edge color of the icon
$font-size: 38; // the font size of the text incapsulated inside the svg icon relative to the 200px height of the original svg 


// ATTENTION write hex in extended notation
$shape-color: #F1F2F2; // the color of the shape inside the icon (if any)
$shape-color-positive: #666666;  // the color of the shape when the icon have a positive background (es. white)
$dark-color: #3a3b3c; // background color of the icons in the dark theme (or the ribbon color in the "double" $style theme  )
$icon-shadow: ""; // or "drop-shadow( 0 2px 2px rgba(0, 0, 0, 0.25) );" without quotes
$font-color: $shape-color; // default 

// CHOOSE YOUR THEME
//
//
$style: ""; // icon theme -> possible values: default || dark || light || double

// Import icons
@import "scss/fonts";

// Colors (used when another color isn't specified)
@import "scss/generator-colors";

// Icons (the corrispong ascii)
@import "scss/generator-vars";

// DO-ICON MIXIN
@import "scss/mixin";

// HARDCODED styles
// This part serves for the demo and can be safely canceled
// However, if you need a particular icon you can write the code like in the examples below
//
@import "scss/hardcoded";

//
// LOOP CONFIG
// The loop will generate icons as in the configuration below
//
$icon-list:("3dm", "", $settings),
("3dmf", "", $locked),
("3g2", "", $play),
("3gp", "", $movie),
("7z", "", $zip),
("a", "", $flag),
("aab", "", $work),
("aac", "", $mic),
("aam", "", $build),
("aas", "", $malware),
("abc", "", $text),
("abw", "", $stylez),
("acgi", "", $app),
("acx", "", $app),
("afl", "", $cam),
("ai", "", $map),
("aif", "", $music),
("aifc", "", $radio),
("aiff", "", $audio),
("aim", "", $audio),
("aip", "", $text),
("ani", "", $music),
("aos", "", $coffee),
("aps", "", $code),
("arc", "", $apk),
("arj", "", $usb),
("art", "", $photo),
("asf", "", $play),
("asm", "", $code),
("asp", "", $text),
("asr", "", $movie),
("asx", "", $photo),
("au", "", $lp),
("avi", "", $cam),
("avs", "", $play),
("axs", "", $stylez),
("azw", "", $stylez),
("bas", "", $text),
("bcpio", "", $flag),
("bin", "", $cam),
("bm", "", $picture),
("bmp", "", $photo),
("boo", "", $audio),
("book", "", $movie),
("boz", "", $cam),
("bsh", "", $play),
("bz", "", $zip),
("bz2", "", $zip),
("c", "", $work),
("cab", "", $build),
("cat", "", $malware),
("cc", "", $text),
("ccad", "", $coffee),
("cco", "", $apk),
("cct", "", $apk),
("cdf", "", $picture),
("cer", "", $photo),
("cfc", "", $photo),
("cfm", "", $photo),
("cha", "", $picture),
("chat", "", $epub),
("class", "", $epub),
("clp", "", $epub),
("cmx", "", $picture),
("cod", "", $photo),
("com", "", $zip),
("conf", "", $app),
("cp", "", $text),
("cpio", "", $zip),
("cpp", "", $code),
("cpt", "", $app),
("crd", "", $app),
("crl", "", $code),
("crt", "", $text),
("csh", "", $work),
("css", "", $text),
("cst", "", $stylez),
("csv", "", $text),
("cxt", "", $stylez),
("cxx", "", $work),
("dcr", "", $cloud),
("deepv", "", $attachment),
("def", "", $text),
("der", "", $locked),
("dib", "", $picture),
("dif", "", $movie),
("diff", "", $app),
("dir", "", $work),
("dl", "", $cam),
("dll", "", $build),
("dms", "", $build),
("doc", "", $malware),
("docm", "", $malware),
("docx", "", $malware),
("dot", "", $map),
("dotm", "", $map),
("dotx", "", $map),
("dp", "", $coffee),
("drw", "", $apk),
("dta", "", $apk),
("dump", "", $usb),
("dv", "", $play),
("dvi", "", $code),
("dwf", "", $text),
("dwg", "", $attachment),
("dxf", "", $stylez),
("dxr", "", $settings),
("el", "", $text),
("elc", "", $flag),
("eml", "", $flag),
("enl", "", $flag),
("env", "", $work),
("enz", "", $work),
("eot", "", $work),
("eps", "", $build),
("epub", "", $build),
("es", "", $malware),
("etx", "", $code),
("evy", "", $coffee),
("exe", "", $apk),
("f", "", $text),
("f77", "", $text),
("f90", "", $work),
("fdf", "", $text),
("fif", "", $cloud),
("flac", "", $mic),
("fli", "", $movie),
("flo", "", $photo),
("flr", "", $stylez),
("flv", "", $music),
("flx", "", $text),
("fm", "", $settings),
("fmf", "", $cam),
("for", "", $app),
("fpx", "", $picture),
("fqd", "", $movie),
("frl", "", $cam),
("funk", "", $radio),
("g", "", $text),
("g3", "", $photo),
("gif", "", $picture),
("gl", "", $play),
("gsd", "", $audio),
("gsm", "", $lp),
("gsp", "", $map),
("gss", "", $coffee),
("gtar", "", $apk),
("gz", "", $zip),
("gzip", "", $zip),
("h", "", $code),
("hdf", "", $photo),
("help", "", $picture),
("hgl", "", $cloud),
("hh", "", $text),
("hlb", "", $text),
("hlp", "", $settings),
("hpg", "", $locked),
("hpgl", "", $flag),
("hqx", "", $work),
("hta", "", $code),
("htc", "", $work),
("htm", "", $text),
("html", "", $app),
("htmls", "", $text),
("htt", "", $code),
("htx", "", $text),
("ice", "", $code),
("ico", "", $photo),
("ics", "", $text),
("idc", "", $work),
("ief", "", $picture),
("iefs", "", $photo),
("iges", "", $movie),
("igs", "", $cam),
("iii", "", $cam),
("ima", "", $picture),
("imap", "", $stylez),
("indd", "", $stylez),
("inf", "", $play),
("ins", "", $app),
("ip", "", $code),
("isp", "", $code),
("isu", "", $movie),
("it", "", $mic),
("iv", "", $usb),
("ivr", "", $lp),
("ivy", "", $text),
("jad", "", $text),
("jam", "", $music),
("jar", "", $photo),
("jav", "", $app),
("java", "", $text),
("jcm", "", $cam),
("jfif", "", $picture),
("jfif-tbnl", "", $photo),
("jpe", "", $picture),
("jpeg", "", $photo),
("jpg", "", $picture),
("jps", "", $photo),
("js", "", $malware),
("json", "", $zip),
("jut", "", $picture),
("kar", "", $radio),
("kml", "", $zip),
("kmz", "", $zip),
("ksh", "", $stylez),
("la", "", $audio),
("lam", "", $lp),
("latex", "", $flag),
("lha", "", $work),
("lhx", "", $code),
("lib", "", $code),
("list", "", $code),
("llb", "", $text),
("lma", "", $mic),
("log", "", $text),
("lsf", "", $cam),
("lsp", "", $malware),
("lst", "", $text),
("lsx", "", $work),
("ltx", "", $apk),
("lvx", "", $apk),
("lzh", "", $zip),
("lzx", "", $cloud),
("m", "", $text),
("m1v", "", $play),
("m2a", "", $music),
("m2v", "", $movie),
("m3u", "", $radio),
("m4a", "", $audio),
("m4v", "", $cam),
("ma", "", $work),
("mail", "", $work),
("man", "", $app),
("map", "", $code),
("mar", "", $app),
("mbd", "", $stylez),
("mcd", "", $code),
("mcf", "", $photo),
("mcp", "", $photo),
("mdb", "", $photo),
("me", "", $text),
("mfp", "", $text),
("mht", "", $picture),
("mhtml", "", $photo),
("mid", "", $lp),
("midi", "", $mic),
("mif", "", $coffee),
("mime", "", $apk),
("mjf", "", $music),
("mjpg", "", $play),
("mkv", "", $movie),
("mm", "", $attachment),
("mme", "", $settings),
("mny", "", $settings),
("mod", "", $radio),
("moov", "", $cam),
("mov", "", $play),
("movie", "", $movie),
("mp2", "", $audio),
("mp3", "", $lp),
("mp4", "", $cam),
("mpa", "", $mic),
("mpc", "", $stylez),
("mpe", "", $play),
("mpeg", "", $movie),
("mpg", "", $music),
("mpga", "", $radio),
("mpkg", "", $malware),
("mpp", "", $picture),
("mpt", "", $photo),
("mpv", "", $picture),
("mpv2", "", $cam),
("mpx", "", $photo),
("mqv", "", $play),
("mrc", "", $picture),
("ms", "", $photo),
("mv", "", $movie),
("mvb", "", $picture),
("mws", "", $picture),
("my", "", $audio),
("mzz", "", $zip),
("nap", "", $picture),
("naplps", "", $photo),
("nb", "", $map),
("nc", "", $coffee),
("ncm", "", $apk),
("nif", "", $picture),
("niff", "", $photo),
("nix", "", $picture),
("nsc", "", $lp),
("nvd", "", $usb),
("nws", "", $usb),
("o", "", $cloud),
("oda", "", $code),
("odf", "", $code),
("odg", "", $code),
("odp", "", $code),
("ods", "", $code),
("odt", "", $code),
("oga", "", $lp),
("ogg", "", $audio),
("ogv", "", $cam),
("ogx", "", $code),
("omc", "", $music),
("omcd", "", $mic),
("omcr", "", $radio),
("one", "", $radio),
("otf", "", $radio),
("p", "", $text),
("p10", "", $settings),
("p12", "", $locked),
("p7a", "", $flag),
("p7c", "", $work),
("p7m", "", $text),
("p7r", "", $audio),
("p7s", "", $lp),
("part", "", $stylez),
("pas", "", $code),
("patch", "", $text),
("pbm", "", $picture),
("pcd", "", $photo),
("pcl", "", $code),
("pcm", "", $mic),
("pct", "", $picture),
("pcx", "", $photo),
("pdb", "", $map),
("pdf", "", $coffee),
("pfunk", "", $music),
("pfx", "", $apk),
("pgm", "", $picture),
("php", "", $code),
("pic", "", $photo),
("pict", "", $picture),
("pjpeg", "", $photo),
("pkg", "", $app),
("pko", "", $movie),
("pl", "", $text),
("pls", "", $radio),
("plx", "", $cam),
("pm", "", $picture),
("pm4", "", $attachment),
("pm5", "", $settings),
("pmc", "", $settings),
("png", "", $photo),
("pnm", "", $locked),
("pod", "", $work),
("pot", "", $flag),
("potm", "", $flag),
("potx", "", $flag),
("pov", "", $work),
("ppa", "", $build),
("ppam", "", $build),
("ppm", "", $picture),
("pps", "", $text),
("ppsm", "", $text),
("ppsx", "", $text),
("ppt", "", $malware),
("pptm", "", $malware),
("pptx", "", $malware),
("ppz", "", $zip),
("pre", "", $coffee),
("prf", "", $coffee),
("prt", "", $apk),
("ps", "", $usb),
("psd", "", $radio),
("pub", "", $radio),
("pvu", "", $audio),
("pwz", "", $zip),
("py", "", $text),
("pyc", "", $attachment),
("qcp", "", $audio),
("qd3", "", $music),
("qd3d", "", $mic),
("qif", "", $photo),
("qt", "", $play),
("qtc", "", $movie),
("qti", "", $picture),
("qtif", "", $photo),
("ra", "", $lp),
("ram", "", $mic),
("rar", "", $map),
("ras", "", $audio),
("rast", "", $picture),
("rexx", "", $app),
("rf", "", $photo),
("rgb", "", $picture),
("rm", "", $lp),
("rmi", "", $music),
("rmm", "", $radio),
("rmp", "", $audio),
("rng", "", $play),
("rnx", "", $mic),
("roff", "", $radio),
("rp", "", $photo),
("rpm", "", $lp),
("rt", "", $text),
("rtf", "", $audio),
("rtx", "", $lp),
("rv", "", $cam),
("s", "", $code),
("s3m", "", $mic),
("sas", "", $music),
("sav", "", $music),
("saveme", "", $play),
("sbk", "", $cloud),
("scd", "", $cloud),
("scm", "", $movie),
("sct", "", $text),
("sd2", "", $movie),
("sdml", "", $text),
("sdp", "", $mic),
("sdr", "", $play),
("sea", "", $radio),
("set", "", $work),
("sgm", "", $work),
("sgml", "", $text),
("sh", "", $locked),
("shar", "", $flag),
("shtml", "", $app),
("sid", "", $music),
("sit", "", $audio),
("skd", "", $lp),
("skm", "", $picture),
("skp", "", $photo),
("skt", "", $build),
("sl", "", $malware),
("smi", "", $picture),
("smil", "", $photo),
("snd", "", $radio),
("sol", "", $coffee),
("spc", "", $apk),
("spl", "", $usb),
("spo", "", $usb),
("spr", "", $cloud),
("sprite", "", $attachment),
("sql", "", $text),
("src", "", $settings),
("ssi", "", $code),
("ssm", "", $stylez),
("sst", "", $flag),
("step", "", $work),
("stl", "", $build),
("stm", "", $text),
("stp", "", $malware),
("sv4cpio", "", $map),
("sv4crc", "", $coffee),
("svf", "", $picture),
("svg", "", $photo),
("svr", "", $usb),
("swa", "", $usb),
("swf", "", $cloud),
("sxw", "", $cloud),
("t", "", $attachment),
("talk", "", $text),
("tar", "", $locked),
("tbk", "", $app),
("tcl", "", $picture),
("tcsh", "", $work),
("tex", "", $work),
("texi", "", $photo),
("texinfo", "", $picture),
("tga", "", $picture),
("tgz", "", $zip),
("tif", "", $photo),
("tiff", "", $picture),
("tnef", "", $mic),
("tr", "", $photo),
("trm", "", $photo),
("ts", "", $photo),
("tsi", "", $audio),
("tsp", "", $photo),
("tsv", "", $text),
("ttf", "", $picture),
("turbot", "", $photo),
("twb", "", $map),
("twbx", "", $map),
("txt", "", $app),
("uil", "", $text),
("uls", "", $code),
("uni", "", $text),
("unis", "", $text),
("unv", "", $photo),
("uri", "", $work),
("uris", "", $text),
("ustar", "", $usb),
("uu", "", $picture),
("uue", "", $app),
("vcd", "", $photo),
("vcf", "", $text),
("vcs", "", $code),
("vda", "", $movie),
("vdo", "", $play),
("vew", "", $movie),
("viv", "", $movie),
("vivo", "", $cam),
("vmd", "", $movie),
("vmf", "", $flag),
("voc", "", $lp),
("vos", "", $play),
("vox", "", $mic),
("vqe", "", $music),
("vqf", "", $radio),
("vql", "", $audio),
("vrml", "", $apk),
("vrt", "", $usb),
("vsd", "", $cloud),
("vst", "", $movie),
("vsw", "", $app),
("w3d", "", $app),
("w60", "", $attachment),
("w61", "", $radio),
("w6w", "", $settings),
("war", "", $settings),
("wav", "", $lp),
("wb1", "", $photo),
("wbmp", "", $picture),
("wcm", "", $cam),
("wdb", "", $cam),
("web", "", $play),
("weba", "", $mic),
("webm", "", $movie),
("webp", "", $photo),
("wiz", "", $picture),
("wk1", "", $photo),
("wks", "", $photo),
("wma", "", $music),
("wmf", "", $audio),
("wml", "", $text),
("wmlc", "", $music),
("wmls", "", $text),
("wmlsc", "", $flag),
("wmv", "", $cam),
("wmz", "", $flag),
("woff", "", $flag),
("woff2", "", $flag),
("word", "", $picture),
("wp", "", $photo),
("wp5", "", $picture),
("wp6", "", $code),
("wpd", "", $photo),
("wps", "", $photo),
("wq1", "", $picture),
("wri", "", $work),
("wrl", "", $radio),
("wrz", "", $audio),
("wsc", "", $work),
("wsrc", "", $music),
("wtk", "", $mic),
("x-png", "", $picture),
("xbm", "", $photo),
("xdr", "", $play),
("xgz", "", $map),
("xhtml", "", $map),
("xif", "", $picture),
("xl", "", $work),
("xla", "", $work),
("xlam", "", $work),
("xlb", "", $work),
("xlc", "", $work),
("xld", "", $work),
("xlk", "", $work),
("xll", "", $work),
("xlm", "", $work),
("xls", "", $work),
("xlsb", "", $work),
("xlsm", "", $work),
("xlsx", "", $work),
("xlt", "", $work),
("xltm", "", $work),
("xltx", "", $work),
("xlv", "", $work),
("xlw", "", $work),
("xm", "", $radio),
("xml", "", $work),
("xmz", "", $work),
("xpix", "", $work),
("xpm", "", $photo),
("xps", "", $work),
("xsl", "", $text),
("xsr", "", $movie),
("xul", "", $work),
("xwd", "", $picture),
("xyz", "", $work),
("z", "", $work),
("zip", "", $zip),
("zoo", "", $work),
("zsh", "", $app);


////// basic style
//////

.mime-icon {
  margin: 0;
  display: inline-block;
  vertical-align:top;
  position: relative;

  .ico {
    position:relative;

    &:before{
      position: absolute;
      top: $icon-container-size / 2.7;
      display:block;
      width:100%;
      overflow: visible;
      z-index:9;
      content:'';
      font-family: 'Material Icons';
      font-size: $icon-container-size / 4.2;
      opacity: 0.8;    
    }
    

    &:after{
      width: $icon-container-size;
      height: $icon-container-size;
      display:inline-block;
      content:'';

      background-size: 80%;
      background-position: center;
      background-repeat: no-repeat;
      @include do-icon();
    }
  }
  
  &.light {
    .ico:before{ color: $shape-color-positive !important;}
    .ico:after { filter: drop-shadow( 0 2px 2px rgba(0, 0, 0, 0.25) );}  
  }
  
  &.dark {
    .ico:before{ color: #F1F2F2 !important;}
    .ico:after { filter: inherit;}
  }
  
  &.double {
    .ico:after { filter: drop-shadow( 0 1px 1px rgba(0, 0, 0, 0.25) );} 
  }
  
  i.material-icons {
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
    font-size: 28px;
    color: $shape-color;
    opacity: 0.8;
  }
}

////// "Each" n°1 icon with Google font icon
//////
//////
@import "scss/loop";



